<div class="ui large menu">
  <div class="ui container">
    <%= link_to "Home", "#", class: 'item' %>
    <%= link_to "Chatroom", root_path, class: 'item' %>
    <div class="right menu">
      <div class="item">
        <div>Sign Up</div>
      </div>
      <div class="item">
        <%= link_to 'Log In', login_path %>
      </div>
      <div class="ui dropdown item">
        Account <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">View Profile</a>
          <a class="item">Edit Profile</a>
          <div class="divider"></div>
            <a class="item">Log out</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="ui vertical menu">-->
<!--  <a class="active teal item">-->
<!--    Inbox-->
<!--    <div class="ui teal left pointing label">1</div>-->
<!--  </a>-->
<!--  <a class="item">-->
<!--    Spam-->
<!--    <div class="ui label">51</div>-->
<!--  </a>-->
<!--  <a class="item">-->
<!--    Updates-->
<!--    <div class="ui label">1</div>-->
<!--  </a>-->
<!--  <div class="item">-->
<!--    <div class="ui transparent icon input">-->
<!--      <input type="text" placeholder="Search mail...">-->
<!--      <i class="search icon"></i>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->