<div class="ui large menu">
  <div class="ui container">
    <a class="item">
      Home
    </a>
    <a class="item">
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        Language <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">English</a>
          <a class="item">Russian</a>
          <a class="item">Spanish</a>
        </div>
      </div>
      <div class="item">
        <div class="ui primary button">Sign Up</div>
      </div>
    </div>
  </div>
</div>

<!--<div class="ui vertical menu">-->
<!--  <a class="active teal item">-->
<!--    Inbox-->
<!--    <div class="ui teal left pointing label">1</div>-->
<!--  </a>-->
<!--  <a class="item">-->
<!--    Spam-->
<!--    <div class="ui label">51</div>-->
<!--  </a>-->
<!--  <a class="item">-->
<!--    Updates-->
<!--    <div class="ui label">1</div>-->
<!--  </a>-->
<!--  <div class="item">-->
<!--    <div class="ui transparent icon input">-->
<!--      <input type="text" placeholder="Search mail...">-->
<!--      <i class="search icon"></i>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->